<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
        <style type="text/css">
            body {
                background-image: url('https://singldout.com/assets/images/front/bg_index1.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 120%;
            }
        </style>
    </head>
    <body bgcolor="#282828">

        {{ app.request.host }}

        {% block body %}{% endblock %}


    </body>
</html>






